.vul-graph {
  text-align: center;
}
.vul-graph canvas{
  width: 100%;
}
.vul-graph__label{
  position: absolute;
  right: 0.5rem;
  bottom: 0;
  font-size: 1.3vw;
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}